.container {
  border: 2px solid black;
  padding: 0.25rem;
  width: 30%;
  max-width: 18.75rem;
  min-width: 12.5rem;
  // max-width: 14rem;
  // min-width: 10rem;

  flex: 2 1 auto;

}

.imagePlaceholder {
  width: 100%; 
  aspect-ratio: 1/1;
  background-color: lightcoral;
}

// .img {
//   max-width: 13rem;
//   max-width: 9rem;
// }